.style_content h1 {
  font-size: 2em;
  margin-top: 1rem;
}
.style_content h2 {
  font-size: 1.5em;
  margin-top: 1rem;
}
.style_content h3 {
  font-size: 1.17em;
  margin-top: 1rem;
}
.style_content h4 {
  font-size: 1em;
  margin-top: 1rem;
}
.style_content h5 {
  font-size: 0.83em;
  margin-top: 1rem;
}
.style_content h6 {
  font-size: 0.75em;
  margin-top: 1rem;
}
.style_content p {
  margin-bottom: 1rem;
}
.style_content a {
  color: #3b82f6;
}
.style_content code {
  font-family: Consolas, 'courier new';
  color: black;
  background-color: #c2c2d6;
  padding: 2px;
  font-size: 105%;
}
.style_content ul li {
  list-style-type: disc;
}
.style_content ol li {
  list-style-type: decimal;
}
.style_content img {
  margin-block: 8px;
}
